body{
  justify-content: center;
}
.container{
  margin-top:7%;

  padding: 16px;

  justify-content: space-between;
  border-radius: 4px;
}
.contactTitle{
  font-size: 32px;
  font-weight: 400;

  border-bottom: 2px solid white;
}
.bold{
  font-weight: 700;
}
input{
  border-radius: 4px;
}
textarea{
  border-radius: 4px;
}
.navLogo{
  margin-left:-128px;
}
button{
  border: 0px solid;
  background-color: #393e41;
  height: 20px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}
